main.content-inner
	.section.welcome.bg-img
		.content
			.container
				h6 Вас приветствует компания Web-Systems Solutions
				h1
					| Сотрудничество с Диджитал агентствами
					span -
					br
					span одно из наших приоритетных направлений.
				p 
					| Мы уже более 7 лет на рынке IT-услуг Украины и России. И входим в 10 лучших работодателей в своем сегменте (
					a(href="https://jobs.dou.ua/companies/web-systems/" target="blank") рейтинг DOU.ua
					|). В связи с расширением мощностей, мы ищем успешных и надежных диджитал партнеров, готовых предложить стоящие проекты. Чтобы вместе работать на качественный результат и достойное вознаграждение.
	.section.clients
		.container
			h2 Мы работаем для гигантов рынка:
			.clients-list
				.row
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-1
								img(src="i/clients/1.jpg" alt="client 1" title="client 1")
							.title
								p Крупнейшая сеть фастфудов
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-2
								img(src="i/clients/2.jpg" alt="client 2" title="client 2")
							.title
								p Операционные системы
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-3
								img(src="i/clients/3.jpg" alt="client 3" title="client 3")
							.title
								p Лакшери сервисы букинга
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-4
								img(src="i/clients/4.jpg" alt="client 4" title="client 4")
							.title
								p Зарубежные автобренды
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-5
								img(src="i/clients/5.jpg" alt="client 5" title="client 5")
							.title
								p Производители кормов для животных
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-6
								img(src="i/clients/6.jpg" alt="client 6" title="client 6")
							.title
								p Киты табачной и кофейной промышленности
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-7
								img(src="i/clients/7.jpg" alt="client 7" title="client 7")
							.title
								p Самые известные батончики
					.col.col-sm-6.col-md-3.col-pad-0
						.item
							.image.icon-8
								img(src="i/clients/8.jpg" alt="client 8" title="client 8")
							.title
								p Производители напитков
	.section.offer.bg-img
		.content
			.container
				h2 Мы знаем что Вам предложить:
				ul.offer-list.tick-list
					li
						span Безприкословное соблюдение NDA
					li 
						span Понимание сроков реализации задач
					li 
						span Возможность отслеживания процесса разработки
					li 
						span Гибкие методологии менеджмента (SCRUM, XP, Kanban)
					li 
						span Проактивные руководители проектов
					li 
						span Тестирование на протяжении всего цикла
					li 
						span Штат из более чем 60-ти специалистов
	.section.activities.bg-gray
		.container
			h3 Мы работаем с четырьмя наиболее востребованными направлениями:
			ul.activities-list.row
				li.col-sm-6.col-md-3.item
					span.image
						img(src="i/activities/web.svg" title="web" alt="web" width="117px" height="149px")
					p Веб-разработка
				li.col-sm-6.col-md-3.item
					span.image
						img(src="i/activities/mobile.svg" title="mobile" alt="mobile" width="70px" height="77px")
					p Мобильные приложения
				li.col-sm-6.col-md-3.item
					span.image
						img(src="i/activities/eccomerce.svg" title="eccomerce" alt="eccomerce" width="76px" height="80px")
					p Электронная коммерция
				li.col-sm-6.col-md-3.item
					span.image
						img(src="i/activities/design.svg" title="design" alt="design" width="82px" height="76px")
					p Веб-дизайн
	.section.technologies
		.container
			h3 Технологии, которыми Вы можете располагать, сотрудничая с нами
			.technologies-list.row
				.item.cms.col-sm-6.col-md-4
					figure
						figcaption.title CMS:
						ul
							li
								.image
									img(src="i/technologies/cms/joomla.svg" alt="joomla" title="joomla" width="48" height="48")
								span.name Joomla
							li
								.image
									img(src="i/technologies/cms/opencart.svg" alt="opencart" title="opencart" width="53" height="39")
								span.name Opencart
							li
								.image
									img(src="i/technologies/cms/wordpress.svg" alt="wordpress" title="wordpress" width="43" height="43")
								span.name Wordpress
							li
								.image
									img(src="i/technologies/cms/bitrix.svg" alt="bitrix" title="bitrix" width="45" height="45")
								span.name Bitrix
				.item.front.col-sm-6.col-md-3
					figure
						figcaption.title Front end:
						ul
							li
								.image
									img(src="i/technologies/front/ember.svg" alt="ember" title="ember" width="61" height="22")
								span.name Ember.js
							li
								.image
									img(src="i/technologies/front/angular.svg" alt="angular" title="angular" width="42" height="43")
								span.name Angular.js
							li
								.image
									img(src="i/technologies/front/react.svg" alt="react" title="react" width="43" height="39")
								span.name React.js
				.item.back.col-sm-6.col-md-3
					figure
						figcaption.title Back end:
						ul
							li
								.image
									img(src="i/technologies/back/symfony.svg" alt="symfony" title="symfony" width="41" height="41")
								span.name Symfony
							li
								.image
									img(src="i/technologies/back/yii.svg" alt="yii" title="yii" width="34" height="37")
								span.name YII
							li
								.image
									img(src="i/technologies/back/django.svg" alt="django.svg" title="django.svg" width="52" height="19")
								span.name Django
				.item.app.col-sm-6.col-md-2
					figure
						figcaption.title APP:
						ul
							li
								.image
									img(src="i/technologies/app/ionic.svg" alt="ionic" title="ionic" width="41" height="41")
								span.name Ionic framework
			p.note Если понадобится технология которой мы не можем предложить на данный момент, имеется возможность подобрать специалиста, в кратчайшие сроки, под конкретный проект
	.section.contacts
		.container
			hr
			.row
				.col-md-6.contact-form
					.success.hidden
						p Сообщение успешно отправлено. С вами свяжутся в ближайшее время.
						br
						button.btn.js-ok ок
					form#contactForm.js-form
						fieldset
							h4 Заинтересовались?
								span оставьте свои данные и мы свяжямся с Вами в ближайшее время
							.form-group
								label Имя
								input.form-control(type="text" name="name" id="name")
							.form-group
								label Телефон
								input.form-control(type="text" name="phone" id="phone")
							.form-group
								label E-mail
								input.form-control(type="email" name="email" id="email")
							.btn-group.right
								button.btn(type="submit" onclick="fbq('track', 'Lead');") Давайте сотрудничать
				.col-md-offset-0.col-md-6.col-lg-offset-1.col-lg-5
					h4 Свяжитесь с нами
						span если не хотите заполнять данные свяжитесь с нами (:
					.contact-info
						p
							a.icon-skype(href="skype:web-systems.solutions?chat") 
								span web-systems.solutions
						p
							a.icon-mail(href="mailto:info@web-systems.solutions") 
								span info@web-systems.solutions
						p
							a.icon-phone(href="callto:+380673810383") 
								span +38067 381 03 83
