footer.footer
	#ember789.white.small.smile.ember-view.logo-wrap
		a#ember790.logo.ember-view(href='/')
			span.logo-icon
				span.green
				span.yellow
				span.blue
				span.lilac
			span.logo-text Web systems solutions
	.socials
		a.icon-facebook(target='_blank', href='http://www.facebook.com/groups/websystems.solutions/')
		a.icon-vk(target='_blank', href='http://vk.com/club26137826')
		a.icon-in(target='_blank', href='http://www.linkedin.com/company/web-systems-solutions?trk=prof-following-company-logo')
		a.icon-google(target='_blank', href='http://plus.google.com/+WebSystemsSolutions')
		a.icon-instagram(target='_blank', href='http://instagram.com/web_systems/')
