header.header
	#ember489.black.inline.small.smile.ember-view.logo-wrap
		a#ember497.logo.ember-view(href='/')
			span.logo-icon
				span.green
				span.yellow
				span.blue
				span.lilac
			span.logo-text Web systems solutions
	.menu-box
		.humburger-menu.js-menu
			button(type='button')
				span
				span
				span
		ul#menu
			li
				a(href='http://web-systems.solutions/activities/web' target="_blank") Услуги
			li
				a(href='http://web-systems.solutions/projects' target="_blank") Проекты
			li
				a.active(href='http://web-systems.solutions/about' target="_blank") О нас
			li
				a(href='http://web-systems.solutions/jobs' target="_blank") Вакансии
			li
				a(href='http://web-systems.solutions/blog' target="_blank") Блог
			li
				a(href='http://web-systems.solutions/contact' target="_blank") Контакты
