meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=100vw, initial-scale=1, maximum-scale=2', name='viewport')
title Сотрудничество с Диджитал агентствами | Web-systems Solutions
link(rel="icon" type="image/png" sizes="16x16" href="i/fav/favicon.ico")
//-meta(content='', name='yandex-verification')
//-meta(content='', name='google-site-verification'>
//-meta(content='', name='description')
//-meta(content='', name='keywords')
//-meta(content='', name='author')
//-meta(content='', name='apple-mobile-web-app-title')

meta(content='no', name='msapplication-tap-highlight')
//-meta(content='', name='application-name')
//-meta(content='', name='msapplication-tooltip')
//-meta(content='/', name='msapplication-starturl')
//-meta(content='#FF3300', name='msapplication-navbutton-color')
//-meta(content='#2d89ef', name='msapplication-TileColor')
//-meta(content='/mstile-144x144.png', name='msapplication-TileImage')
//-meta(content='name=Пункт 1;action-uri=/;icon-uri=//*.ico', name="msapplication-task")
//-meta(content='name=Пункт 2;action-uri=/;icon-uri=//*.ico', name="msapplication-task")
//-meta(content='name=Пункт 3;action-uri=/;icon-uri=//*.ico', name="msapplication-task")

//-meta(name='google', value='notranslate')

//-base(href='/', target='_blank')

//-link(rel='alternate', type='application/rss+xml', title='RSS', href='news.rdf')

//-link(rel='shortcut icon', href='http://_/favicon.ico')
//-link(rel='apple-touch-icon', href='touch-icon-iphone.png')
//-link(rel='apple-touch-icon', sizes='76x76', href='touch-icon-ipad.png')
//-link(rel='apple-touch-icon', sizes='120x120', href='touch-icon-iphone-retina.png')
//-link(rel='apple-touch-icon', sizes='152x152', href='touch-icon-ipad-retina.png')

link(href="https://fonts.googleapis.com/css?family=Arimo:400,700|Questrial&amp;subset=cyrillic" rel="stylesheet")
link(rel='stylesheet', media='all', href='css/app.css')
//-link(rel='stylesheet', media='print', href='')

script(src='js/app.min.js')

// Facebook Pixel Code
script.
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '972306956224996', {
	em: 'insert_email_variable,'
	});
	fbq('track', 'PageView');
noscript
	img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=972306956224996&ev=PageView&noscript=1')
// DO NOT MODIFY
// End Facebook Pixel Code
