@import '../../../bower_components/reset-stylus/src/reset-stylus.styl'
// @import '../../../bower_components/normalize.styl/normalize.styl'
@import 'vars.styl'
@import 'icons.styl'
@import 'bootstrap.styl'
@import 'logo.styl'
@import 'header.styl'
@import 'footer.styl'

// font-family: 'Arimo', sans-serif;
// font-family: 'Questrial', sans-serif;

body
    font-family 'Arimo', sans-serif
    color $textColor

h1, h2, h3, h4, h5, h6
    font-family 'Arimo', sans-serif
    font-weight 700
    margin-bottom 20px
h1
    font-size 36px
    margin-bottom 30px
h2
    font-size 40px
    line-height 1
    margin-bottom 48px
h3
h4
    font-size 24px
    margin-bottom 45px
    span
        font-size 12px
        line-height 16px
        display block
        padding-top 10px
        font-weight normal
        font-style italic
h6
    font-size:  18px
    line-height:  24px
p
    font-size 18px
    line-height 24px
    font-weight 400
    font-family 'Arimo', sans-serif
img
    max-width 100%
    height auto
    display block
    margin 0 auto
hr
    background alpha($gray2, 0.5)
    height 1px
    box-sizing content-box
    border none
a
    color $black
    text-decoration none
    &:hover
    &:focus
    &:active
        color $black
    &:hover
        text-decoration underline

@import 'forms.styl'
@import 'buttons.styl'

.tick-list
    li
        padding-left 60px
        position relative
        font-size 18px
        line-height 48px
        font-weight 700
        vertical-align middle
        span
            line-height 24px
            display inline-block
            vertical-align middle;
        &:before
            content: '\e80c';
            font-family "icons"
            font-style normal
            font-weight normal
            speak none
            display inline-block
            text-decoration inherit
            text-align center
            font-variant normal
            text-transform none
            line-height 1em
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            position absolute
            top 0
            bottom 0
            left 0
            margin auto
            font-size 35px
            height 35px

.col-pad-0
    padding 0

.content-inner
    padding-top 82px
    @media (min-width: 992px)
        padding-left 15px
        padding-right 15px
    @media (min-width: 992px) and (max-width: 1899px)
        padding-top 72px
    @media (min-width: 1900px)
        padding-top 101px

.container
    position relative

.container
.offer-list li
.form-control
    box-sizing border-box

.bg-gray
    background-color $gray
.bg-img
    position:  relative;
    background url('../i/bg.jpg') no-repeat center center / cover
    z-index 1
    color $white
    &:after
        content ""
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background alpha($black, 0.6)
    .content
        position relative
        z-index 2

.section
    padding 50px 0

.welcome
    h1
        span
            font-size 24px
            line-heigthy 36px
    p
        a
            color inherit
            text-decoration underline

.clients
    .clients-list
        margin 0 -1px
        .col
            padding 1px
    .item
        position relative
        box-sizing border-box
        &:before
            content ""
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
        .image
            img
                width 100%
            &:before
                color $white
                position absolute
                top 25%
                right 0
                left 0
                margin 0 auto
                font-size 60px
        .title
            position absolute
            z-index 2
            width 100%
            left 0
            bottom 0
            padding 15px
            background alpha($black_ligth1, 0.7)
            box-sizing border-box
            min-height 90px
            box-sizing border-box
            p
                font-size 18px
                line-height 30px
                color $white
                font-weight 700
// clients list color
.clients-list
    .col
        &:nth-child(1)
        &:nth-child(6)
            .item
                &:before
                    background alpha($green, 0.7)
        &:nth-child(2)
        &:nth-child(7)
            .item
                &:before
                    background alpha($yellow, 0.7)
        &:nth-child(3)
        &:nth-child(8)
            .item
                &:before
                    background alpha($lilac, 0.7)
        &:nth-child(4)
        &:nth-child(5)
            .item
                &:before
                    background alpha($blue, 0.7)
        // &:nth-child(4n+1)
        //     .item
        //         &:before
        //             background alpha($green, 0.7)
        // &:nth-child(4n+2)
        //     .item
        //         &:before
        //             background alpha($yellow, 0.7)
        // &:nth-child(4n+3)
        //     .item
        //         &:before
        //             background alpha($lilac, 0.7)
        // &:nth-child(4n+4)
        //     .item
        //         &:before
        //             background alpha($blue, 0.7)

.offer
    .offer-list
        li
            position relative
            @media(min-width: 992px)
                width 50%
                float left
                padding-right 5%

.activities
    .activities-list
        .item
            text-align center
            margin-bottom 30px
            &:nth-child(4n+1)
                .image
                    border-color $activityGreen
            &:nth-child(4n+2)
                .image
                    border-color $activityYellow
            &:nth-child(4n+3)
                .image
                    border-color $activityLilac
            &:nth-child(4n+4)
                .image
                    border-color $activityBlue
            .image
                width 170px
                height 170px
                display block
                border-radius 50%
                border-width 3px
                border-style solid
                margin 0 auto 30px
                img
                    top 50%
                    transform translatey(-50%)
                    position relative

.technologies
    .note
        padding 0 9%
        font-style italic
        font-size 14px
        line-height 19px
.technologies-list
    margin-bottom 45px
    .item
        position relative
        overflow hidden
        padding-bottom 15px
        & + .item
            &:before
                content ""
                width 1px
                height 100%
                background alpha($gray2, 0.2)
                position absolute
                top 10px
                left 0
        &.cms
            li
                width 25%
        &.back
        &.front
            li
                width 33.33%
        ul
            li
                float left
                box-sizing border-box
    .title
        font-size 24px
        font-weight bold
        margin-bottom 45px
    .image
        padding 0 15px
        margin-bottom 15px
        img
            height 48px
            width auto
    .name
        text-align center
        font-size 14px
        display block
    @media (max-width: 767px)
        margin-bottom 0
        .item
            padding-bottom 45px
            & + .item
                &:before
                    content none
    @media (min-width: 768px) and (max-width: 991px)
        .item
            padding-bottom 45px
            &.back
                &:before
                    content none
    @media (min-width: 992px) and (max-width: 1199px)
        .image
            padding 0 10px
            img
                height 40px

.contacts
    hr
        width 100%
        position absolute
        top 0
        left 0
        margin-top -50px
    .contact-form
        position relative
        .success
            position absolute
            background $white
            top 0
            left 0
            width 100%
            height 100%
            display flex
            align-items center
            justify-content center
            flex-direction column
            p
                margin-bottom 20px
                text-align center
    .contact-info
        padding-top 11px
        p
            margin-bottom 50px
        a
            font-size 24px
            line-height 40px
            display inline-block
            &:before
                font-size 40px
                margin 0 45px 0 10px
            &:hover
                text-decoration none
        span
            vertical-align top
    @media (max-width: 768px)
        .contact-info
            a
                font-size 16px
                &:before
                    margin 0 15px 0 0
    @media (max-width: 991px)
        .contact-form
            margin-bottom 40px
