.btn-group
    &.left
        text-align left
    &.right
        text-align right
.btn
    display inline-block
    padding 18px
    margin-bottom 0
    font-size 16px
    font-weight normal
    line-height 1.42857143
    text-align center
    white-space nowrap
    vertical-align middle
    touch-action manipulation
    cursor pointer
    user-select  none
    background-image none
    border none
    border-radius 0
    color $white
    background $black_ligth2
    text-transform uppercase
    transition background 0.3s ease 0s
    @media (max-width: 767px)
        width 100%
    @media (min-width: 768px)
        min-width 360px
    &:focus
    &.active
    &:hover
        outline 0
    &:hover
        background alpha($black_ligth2, 0.9)
    &:focus
    &.active
        background alpha($black_ligth2, 0.7)
