.footer
	background $black_ligth2
	height 200px
	display flex
	align-items center
	justify-content center
	flex-direction column
	z-index 50
	width 100%
	.socials
		padding-top 45px
		a
			color $white
			font-size 18px
			margin 0 5px
			&:hover
			&:focus
			&:visited
				color $white
