label
    font-weight normal
    white-space nowrap
    vertical-align baseline
    color $label
    font-size 12px
    line-height 15px
    margin-bottom 11px
    display block
    padding 0 0 0 4px

.error
    color $red

.form-control
    display block
    width 100%
    height 50px
    padding 6px 12px
    font-size 14px
    line-height 16px
    box-shadow none
    background-image none
    border-radius 0px
    transition border-color, background 0.3s ease-in 0s
    border 1px solid transparent
    background-color $formBg
    color $formColor
    &:focus
        border-color $formBorder
        background $formBorder
        outline 0
        box-shadow none
    &.error
        border-color $red
        @extend .error
.form-control::-moz-placeholder
  color alpha($formColor, 0.5)
  opacity 1
.form-control:-ms-input-placeholder
  color alpha($formColor, 0.5)
.form-control::-webkit-input-placeholder
  color alpha($formColor, 0.5)
.form-control::-ms-expand
  background-color transparent
  border 0
textarea
    &.form-control
        height auto

.form-group
    margin-bottom 25px
