.header
	box-shadow 0 1px 8px #000
	position fixed
	right 0
	left 0
	top 0
	z-index 20
	box-sizing border-box
	padding 15px
	background $white
	&:after
		content ""
		display table
		clear both
	.logo-wrap
		float left
	#menu
		float right
		list-style none
		margin 0
		padding 0
		&:after
			content ""
			display table
			clear both
		li
			float left
			display block
			padding 11px 22px
			line-height 1
			&:last-child
				padding-right 0
			a
				font-size 14px
				line-height 16px
				text-transform uppercase
				color $black
				text-decoration none
.humburger-menu
	display none
	position absolute
	top 0
	right 25px
	bottom 0
	margin auto
	height 24px
	z-index 120
	transform rotate(0deg)
	transition transform 0.5s ease 0s
	&.open
		transform rotate(360deg)
		span
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			margin auto
			transition none
			&:first-child
				transform rotate(45deg)
			&:nth-child(2)
				opacity 0
				transition-duration 0s
			&:last-child
				transform rotate(-45deg)
		&:hover
			transform rotate(-360deg)
	button
		padding 0
		border 0
		background transparent
		outline none
		width 32px
		height 24px
	span
		display block
		width 32px
		height 4px
		border-radius 12px
		background $black
		transform rotate(0deg)
		& + span
			margin-top 6px
@media (max-width: 767px)
	.header
		#menu
			padding 30px 0
			li
				margin 0 20%
				a
					font-size 30px
					line-height 41px
@media (min-width: 768px) and (max-width: 991px)
	.header
		#menu
			padding 70px 0
			li
				margin 0 27%
				a
					font-size 36px
					line-height 170px
@media (max-width: 991px)
	.header
		padding 20px 80px 20px 15px
		#menu
			position fixed
			background $white
			right 0
			top 0
			width 100%
			height 100%
			z-index 101
			transform translateX(100%)
			transition transform 0.5s ease-in 0s
			display flex
			flex-direction column
			justify-content center
			box-sizing border-box
			&.open
				transform translateX(0)
			li
				border-bottom 5px solid $menu_green
				float none
				text-align center
				padding 0
				display flex
				align-items center
				justify-content center
				height 20%
				a
					display block
				&:nth-child(2)
					border-color $menu_yellow
				&:nth-child(3)
					border-color $menu_lilac
				&:nth-child(4)
					border-color $menu_blue
				&:last-child
					border-bottom none
	.humburger-menu
		display block
@media (min-width: 991px) and (max-width: 1899px)
	.header
		#menu
			li
				a
					font-size 12px
@media (min-width: 1900px)
	.header
		padding 31px 74px 28px 74px
