@css {
	@font-face {
		font-family: 'icons';
		src: url('../fonts/icons.eot?8286061');
		src: url('../fonts/icons.eot?8286061#iefix') format('embedded-opentype'),
			url('../fonts/icons.woff2?8286061') format('woff2'),
			url('../fonts/icons.woff?8286061') format('woff'),
			url('../fonts/icons.ttf?8286061') format('truetype'),
			url('../fonts/icons.svg?8286061#icons') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
	/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
	/*
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  @font-face {
		font-family: 'icons';
		src: url('../font/icons.svg?8286061#icons') format('svg');
	  }
	}
	*/

	 [class^="icon-"]:before, [class*=" icon-"]:before {
		font-family: "icons";
		font-style: normal;
		font-weight: normal;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		width: auto;
		margin-right: .2em;
		text-align: center;
		/* opacity: .8; */

		/* For safety - reset parent styles, that can break glyph codes*/
		font-variant: normal;
		text-transform: none;

		/* fix buttons height, for twitter bootstrap */
		line-height: 1em;

		/* Animation center compensation - margins should be symmetric */
		/* remove if not needed */
		margin-left: .2em;

		/* you can be more comfortable with increased icons size */
		/* font-size: 120%; */

		/* Font smoothing. That was taken from TWBS */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* Uncomment for 3D effect */
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}

	.icon-1:before { content: '\e800'; } /* '' */
	.icon-2:before { content: '\e801'; } /* '' */
	.icon-3:before { content: '\e802'; } /* '' */
	.icon-4:before { content: '\e803'; } /* '' */
	.icon-5:before { content: '\e804'; } /* '' */
	.icon-6:before { content: '\e805'; } /* '' */
	.icon-7:before { content: '\e806'; } /* '' */
	.icon-8:before { content: '\e807'; } /* '' */
	.icon-facebook:before { content: '\e808'; } /* '' */
	.icon-google:before { content: '\e809'; } /* '' */
	.icon-in:before { content: '\e80a'; } /* '' */
	.icon-instagram:before { content: '\e80b'; } /* '' */
	.icon-list:before { content: '\e80c'; } /* '' */
	.icon-mail:before { content: '\e80d'; } /* '' */
	.icon-phone:before { content: '\e80e'; } /* '' */
	.icon-skype:before { content: '\e80f'; } /* '' */
	.icon-vk:before { content: '\e810'; } /* '' */
}
