.logo-wrap
	.logo
		display flex
		align-items center
		flex-direction column
		text-decoration none
	.logo-icon
		&:before
			content ""
			display table
			clear both
		span
			border-radius 50%
			display block
			float left
			box-sizing border-box
	.logo-text
		padding-top 20px
		text-transform uppercase
		display flex
		flex 1 1 0%
		text-align center
	&.colors
		.logo-icon
			span
				&.green
					background $green_ligth
				&.yellow
					background $yellow_ligth
				&.blue
					background $blue_ligth
				&.lilac
					background $lilac_ligth
		.logo-text
			color $white
	&.black
		.logo-icon
			&:before
				border 1px solid $black
			span
				background $black
		.logo-text
			color $black
			font-size 14px
			line-heigth 22px
	&.white
		.logo-icon
			&:before
				border 1px solid $white
			span
				background $white
		.logo-text
			color $white
			font-size 12px
			line-heigth 22px
	&.inline
		.logo
			flex-direction row
		.logo-text
			text-align left
		.logo-text
			padding-top 0
		.logo-text
			padding-left 11px
	&.big
		.logo-icon
			width 42px
			height 42px
			span
				width 17px
				height 17px
				margin 2px
		.logo-text
			font-size 20px
			line-height 23px
			letter-spacing 8px
	&.small
		.logo-icon
			position relative
			width 22px
			height 22px
			margin 10px
			&:before
				position absolute
				display block
				top 0
				left 0
				box-sizing border-box
				width 42px
				height 42px
				border-radius 50%
				transform translate(-10px, -10px)
			span
				width 9px
				height 9px
				margin 1px
		.logo-text
			letter-spacing 3px
.smile-happy
	.logo-wrap
		&.smile
			span
				&.blue
					&:before
						content ""
						display block
						position absolute
						border-radius 50%
						bottom 0
						left 0
						right 0
						margin auto
			&:hover
				.logo-icon
					span
						&.blue
							background transparent none repeat scroll 0% 0%
							position absolute
							width 40px
							height 15px
							bottom -5px
							border-radius 0px
							left -10px
							overflow hidden
							&:before
								width 30px
								height 30px
						&.lilac
							opacity 0
			&.white
				&:hover
					.logo-icon
						span
							&.blue
								&:before
									border 1px solid $white
			&.black
				&:hover
					.logo-icon
						span
							&.blue
								&:before
									border 1px solid $black
.smile-ugly
	.logo-wrap
		&.smile
			span
				&.blue
					&:before
						content ""
						display block
						position absolute
						border-radius 50%
						bottom 0
						left 0
						right 0
						margin auto
			&:hover
				.logo-icon
					span
						&.blue
							background transparent
							position absolute
							width 20px
							height 10px
							bottom 0
							border-radius 0
							left 0
							overflow hidden
							right 0
							margin auto
							&:before
								left 0
								bottom auto
								right 0
								margin 0
								width 30px
								height 30px
						&.lilac
							opacity 0
			&.white
				&:hover
					.logo-icon
						span
							&.blue
								&:before
									border 1px solid $white
			&.black
				&:hover
					.logo-icon
						span
							&.blue
								&:before
									border 1px solid $black
.smile-serious
	.logo-wrap
		&.smile
			span
				transition all 0.3s linear 0s
			&:hover
				span
					&.blue
					&.lilac
						border-radius 0
						height 2px
						margin 6px 0 0 0
					&.blue
						margin-left 2px
.start-project-view
	.logo-wrap
		&.smile
			&.black
				&:hover
					.logo-icon
						span
							&.blue
								&:before
									border 1px solid $white
@media (max-width: 767px)
	.logo-wrap
		&.big
			.logo-text
				font-size 11px
				line-height 13px
				padding-top 10px
	.header
		.logo-text
				display none
@media (min-width: 768px) and (max-width: 1899px)
	.logo-wrap
		&.big
			.logo-text
				font-size 13px
				line-height 15px
@media (max-width: 1199px)
	.logo-wrap
		&.black
			.logo
				position relative
				z-index 101
		&.big
			.logo-icon
				height 34px
				width 34px
				span
					width 13px
					height 13px
